<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>글 작성</h2>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        제목: <input type="text" name="title">
        작성자:<input type="text" name="writer">
        본문:<textarea name="body" cols="30" rows="10"></textarea>
        <input type="submit" value="제출">
    </form>
    
</body>
</html>